/* Header Styles */

header{
    overflow: auto;
    background-color: #ffffff;
    border: 1px solid #cccccc; 
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif; 
}

h1{
    color: #ffffff;
    background-color: #4aaaa5;
    padding: 20px;
    text-align: center;
    width: 250px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    float: left;
    font-size: 32px;
}   

a{
    text-decoration: none;
    color: #777777;
}

.nav {
    padding-top: 30px;
    float: right;
  } 

.navOnRight {
    max-width: 960px; 
    margin: auto; 
}

.nav li {
    display: inline-block;
}

.about {
    border-right: 1px solid #cccccc;
    padding-right: 10px;
}

.portfolio {
    border-right: 1px solid #cccccc;
    padding-right: 10px; 
    padding-left: 10px; 
}

.contact {
    padding-right: 10px; 
    padding-left: 10px; 
}

/* Main Content Area */

.maincontent {
    overflow: auto; 
    margin: 15px auto;
    width: 960px; 
    background-color: #ffffff;
    border: 1px solid #dddddd; 
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

h2{
    clear: both; 
    color: #4aaaa5;
    background-color: #ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #dddddd;
    margin: 15px; 
    font-size: 24px;
}

.backgroundpattern {
    overflow: auto; 
    width: 100%; 
    background-image: url("../images/regal.png");
    margin: 0 0 0 0; 
}

/* About Me */
#aboutme{
    overflow: auto;
    float: left; 
    font-size: 16px;
    line-height: 24px; 
}

#myImage {
    float: left;
    height: 200px; 
    margin: 25px 15px; 
}

p{
    margin: 25px 15px; 
}

/* Portfolio */

#hangmanPic {
    background-image: url("../images/hangman.jpg");
    background-repeat: no-repeat; 
    height: 250px; 
    margin: 25px 15px; 
    float: left; 
}

.portfolioImageText {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #ffffff;
    background-color: #4aaaa5;
    width: 235px; 
    padding: 20px; 
    text-align: center; 
    margin-top: 120px; 
}

#rpgGame {
    background-image: url("../images/rpgGame.jpg");
    background-repeat: no-repeat; 
    height: 250px; 
    margin: 25px 15px; 
    float: left; 
}

#triviaGame {
    background-image: url("../images/triviaGame.jpg");
    background-repeat: no-repeat; 
    height: 250px; 
    margin: 25px 15px; 
    float: left; 
}

#rutgersInfoWidget {
    background-image: url("../images/rutgersInfoWidget.jpg");
    background-repeat: no-repeat; 
    height: 250px; 
    margin: 0 15px; 
    float: left; 
}

#rockPaperScissors {
    background-image: url("../images/rockPaperScissors.jpg");
    background-repeat: no-repeat; 
    height: 250px; 
    margin: 0 15px; 
    float: left; 
}

/* Contact */

label {
    margin: 15px; 
}

input {
    margin: 15px; 
    width: 90%;
}

textarea {
     margin: 15px; 
     width: 90%;
     height: 150px; 
}

input[type=submit] {
    width: auto; 
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #ffffff;
    background-color: #4aaaa5;
    padding: 14px 20px;
    margin: 15px; 
    border: none;
  }

input[type=submit]:hover {
  background-color: #59CCC6;
}

/* footer */

footer{
    clear: both; 
    background-color: #666666;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    border-top: 8px solid #4aaaa5;
    color: #cccccc;
    height: 50px; 
    width: 100%; 
    text-align: center; 
    font-size: 10px; 
    }


